<h2 class="text-center">Welcome to MessageMe app</h2>
<br>
<h3 class="text-center">
  <i class="fas fa-power-off" style="color: #ff8000;"></i><br>
  Log in now
</h3>

<div class="split-layout">
  <div class="split-layout__item text-center split-layout2">
    <%= form_with(scope: :session, url: login_path, local:true) do |f| %>
    <div class="form-group">
      <%= f.label :username, class:"text-left" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">
            <i class="fas fa-user"></i>
          </span>
        </div>
        <%= f.text_field :username, class:"form-control", id:"validationDefaultUsername", placeholder:"Enter Username", autofocus:true %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class:"text-left" %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">
            <i class="fas fa-user-lock"></i>
          </span>
        </div>
        <%= f.password_field :password, class:"form-control", id:"exampleInputPassword1", placeholder:"Enter Password" %>
      </div>
    </div>
    <%= f.submit 'Log in', class:"btn btn-warning font-weight-bold"%>
  <% end %>
</div>
<div class="split-layout__divider">
  <div class="split-layout__rule"></div>
  <div class="split-layout__label">OR</div>
  <div class="split-layout__rule"></div>
</div>
<div class="split-layout__item text-center split-layout2">
  <div class="right">
    <button type="button" class="btn btn-warning btn-lg font-weight-bolder" onclick="window.location.href='/signup'">
      <i class="fas fa-user-plus"></i>
      Sign Up</button>
  </div>
</div>

</div>
